#canvas{
    /*filter: FlipH;
    -moz-transform: scale(-1);
    -o-transform: scale(-1);
    -webkit-transform: scale(-1);*/
    transform: scale(-1,1);
    
}

#carrito{
    display: inline-block;
    vertical-align: top;
    padding: 200px;
}

#imgCarrito{
    transform: rotate(270deg);
}